@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-delete {
  animation: select 300ms;
  animation-delay: 1s;
  animation-timing-function: steps(1, end);
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes select {
  0% {
    background: transparent;
  }
  100% {
    background: rgb(0, 149, 255);
    color: white;
  }
}

@layer components {
  kbd {
    @apply inline-block px-1 py-px text-sm font-sans font-medium border border-gray-300 dark:border-gray-700 rounded;
  }
}